Package: radvd
Architecture: mipsel
Version: 0.7.2-1
Section: net
Priority: optional
Maintainer: twolife 
Source: http://v6web.litech.org/radvd/
Depends: kmod-ipv6
Description: Routing Advertisement Daemon for IPv6
