Package: ntpclient
Architecture: mipsel
Version: 2003.194-1
Section: utils
Priority: optional
Maintainer: Sebastien NOEL <me@twolife.org>
Source: http://doolittle.faludi.com/ntpclient/
Depends:
Description: utility to setting system time from NTP server
