Package: nfs-modules
Priority: optional
Section: kernel
Version: TBDL
Architecture: TBDL
Maintainer: Nico <nthill@free.fr>
Source: http://openwrt.org/cgi-bin/viewcvs.cgi/buildroot/
Description: the NFS kernel modules
