menu "libs"

config UBOOT_CONFIG_ADDR_MAP
   bool "addr map"

config UBOOT_CONFIG_BZIP2
   bool "bzip2"

config UBOOT_CONFIG_USB_TTY
   bool "usb tty"

config UBOOT_CONFIG_GZIP
   bool "gzip"

config UBOOT_CONFIG_LMB
   bool "lmb"

config UBOOT_CONFIG_MD5
   bool "md5"

config UBOOT_CONFIG_SHA1
   bool "SHA1"

config UBOOT_CONFIG_SHA256
   bool "SHA256"

config UBOOT_CONFIG_ZLIB
   bool "ZLIB"

config UBOOT_CONFIG_RBTREE
   bool "RBTREE"

config UBOOT_CONFIG_LZO
   bool "LZO"

config UBOOT_CONFIG_LZMA
   bool "LZMA"
   default y

endmenu
