# SPDX-License-Identifier: GPL-2.0-only
/conf
/[gmnq]conf
/[gmnq]conf-bin
/[gmnq]conf-cflags
/[gmnq]conf-libs
/qconf-moc.cc

#
# Added by openwrt
#
mconf_check
# The next line should be removed after 23.05 is EOL
*conf-cfg
