body {
	margin: 0px 0px 0px 0px;
	color: white;
	background-color: #93c6f9;
	font: 12pt/18pt georgia;
}

div.main {
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
	color: black;
	background-color: white;
}

div.titre {
	text-align: center;
	background-color: #336699;
	color: white;
	padding: 10px 10px 10px 10px;
}

h1 {
	text-align: center;
	font: 26pt georgia; 
	letter-spacing: 3px; 
}

h2 {
	padding: 5px 5px 5px 5px;
	background-color: #c2e0ff;
	color: #336699;
}

a:link, a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #336699;
}

a:hover, a:active { 
	text-decoration: underline; 
	color: #9685BA;
}

h3 { 
	font: italic normal 14pt georgia; 
	letter-spacing: 1px; 
	margin-bottom: 0px; 
	margin-left: 10px;
	margin-right: 10px;
	color: #336699;
}

p {
	margin-left: 10px;
	margin-right: 10px;
	text-align: justify;
}

pre {
  border-left: 3px #aaa solid;
  margin-left: 1em;
  padding: 0 1em;
  color: #888;
}