# This conffile is from radvd package found on:
# http://openwrt.org/ipkg/
# For more examples, see the radvd documentation.

interface br0
{
	AdvSendAdvert off;

#
# These settings cause advertisements to be sent every 3-10 seconds.  This
# range is good for 6to4 with a dynamic IPv4 address, but can be greatly
# increased when not using 6to4 prefixes.
#

	MinRtrAdvInterval 3;
	MaxRtrAdvInterval 10;

#
# Disable Mobile IPv6 support
#
	AdvHomeAgentFlag off;

#
# example of a standard prefix
#
	prefix fec0:0:0:1::/64
	{
		AdvOnLink on;
		AdvAutonomous on;
		AdvRouterAddr off;
	};

};
