Package: mysql-utils
Priority: optional
Section: admin
Version: [TBDL]
Architecture: [TBDL]
Maintainer: Nico <nthill@free.fr>
Source: http://nthill.free.fr/openwrt/sources/mysql/
Description: some MySQL client utilities
Depends: libmysqlclient, zlib
