[submodule "package/luci-theme-argon"]
	path = package/luci-theme-argon
	url = https://github.com/jerrykuku/luci-theme-argon.git
[submodule "package/luci-app-argon-config"]
	path = package/luci-app-argon-config
	url = https://github.com/jerrykuku/luci-app-argon-config.git
