* -text
*.patch whitespace=-indent-with-non-tab,-space-before-tab,-tab-in-indent,-trailing-space
*.dts text eol=lf
*.dts[io] text eol=lf
files/usr/share/passwall/app.sh text eol=lf whitespace=-trailing-space
files/etc/init.d/passwall text eol=lf
files/etc/hotplug.d/iface/98-passwall text eol=lf
/update-openclash-passwall-*.sh text eol=lf
/e87n-upstream-state.txt text eol=lf
