.DS_Store
.ccache
.emacs.desktop*
.#*
.*.swp
.*project
*~
*.o
*.orig
*.rej
*#
**/git-src/
*[Tt][Aa][Gg][Ss]*
/bin
/dl
/env
/files
/key-build*
/logs
/overlay
/tmp
/*.out
/*.patch
/*dir/
/**/feeds/
/*.*config*
