[submodule "package/package/small"]
	path = package/package/small
	url = git@github.com:LONG2252/small.git
[submodule "package/small"]
	path = package/small
	url = git@github.com:LONG2252/small.git
[submodule "package/openwrt-packages"]
	path = package/openwrt-packages
	url = git@github.com:LONG2252/openwrt-packages.git
