# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: ubuntu-latest

steps:
- script: make info
  displayName: 'Run a one-line script'

- script: |
    make image
  displayName: 'Run a multi-line script'
