CONFIG_ALL_KMODS=y
CONFIG_ALL_NONSHARED=y
CONFIG_DEVEL=y
CONFIG_COLLECT_KERNEL_DEBUG=y

CONFIG_IMAGEOPT=y
CONFIG_JSON_OVERVIEW_IMAGE_INFO=y
CONFIG_KERNEL_BUILD_DOMAIN="buildhost"
CONFIG_KERNEL_BUILD_USER="builder"
# CONFIG_KERNEL_KALLSYMS is not set
CONFIG_PACKAGE_cgi-io=y
CONFIG_PACKAGE_libiwinfo-lua=y
CONFIG_PACKAGE_liblua=y
CONFIG_PACKAGE_liblucihttp=y
CONFIG_PACKAGE_liblucihttp-lua=y
CONFIG_PACKAGE_libubus-lua=y
CONFIG_PACKAGE_lua=y
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-app-firewall=y
CONFIG_PACKAGE_luci-app-opkg=y
CONFIG_PACKAGE_luci-base=y
CONFIG_PACKAGE_luci-lib-base=y
CONFIG_PACKAGE_luci-lib-ip=y
CONFIG_PACKAGE_luci-lib-jsonc=y
CONFIG_PACKAGE_luci-lib-nixio=y
CONFIG_PACKAGE_luci-mod-admin-full=y
CONFIG_PACKAGE_luci-mod-network=y
CONFIG_PACKAGE_luci-mod-status=y
CONFIG_PACKAGE_luci-mod-system=y
CONFIG_PACKAGE_luci-proto-ipv6=y
CONFIG_PACKAGE_luci-proto-ppp=y
CONFIG_PACKAGE_luci-ssl=y
CONFIG_PACKAGE_luci-theme-bootstrap=y
CONFIG_PACKAGE_px5g-wolfssl=y
CONFIG_PACKAGE_rpcd=y
CONFIG_PACKAGE_rpcd-mod-file=y
CONFIG_PACKAGE_rpcd-mod-iwinfo=y
CONFIG_PACKAGE_rpcd-mod-luci=y
CONFIG_PACKAGE_rpcd-mod-rrdns=y
CONFIG_PACKAGE_uhttpd=y
CONFIG_PACKAGE_uhttpd-mod-ubus=y
CONFIG_REPRODUCIBLE_DEBUG_INFO=y

# CONFIG_AUTOREBUILD is not set

CONFIG_VERSIONOPT=y
CONFIG_VERSION_BUG_URL=""
CONFIG_VERSION_CODE_FILENAMES=y
CONFIG_VERSION_DIST="OpenWrt"
CONFIG_VERSION_FILENAMES=y
CONFIG_VERSION_HOME_URL=""
CONFIG_VERSION_HWREV=""
CONFIG_VERSION_MANUFACTURER=""
CONFIG_VERSION_MANUFACTURER_URL=""
CONFIG_VERSION_PRODUCT=""
CONFIG_VERSION_SUPPORT_URL=""

CONFIG_VERSION_NUMBER="21.02.5"
CONFIG_VERSION_CODE="r16554-1d4dea6d4f"
CONFIG_VERSION_REPO="https://downloads.openwrt.org/releases/21.02.5"

# ---HATLab-GateBoard-One---

# ---Target Config---
CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_hatlab_gateboard-one=y
# ---END Target Config---

# ---Image Config---
# CONFIG_TARGET_ROOTFS_INITRAMFS is not set
CONFIG_TARGET_ROOTFS_SQUASHFS=y
CONFIG_TARGET_ROOTFS_EXT4FS=y
CONFIG_TARGET_EXT4_JOURNAL=y
CONFIG_TARGET_ROOTFS_PARTSIZE=104
# ---END Image Config---

# ---Kernel Config---
CONFIG_KERNEL_DEVMEM=y
# ---END Kernel Config---

# ---Busybox Custom---
CONFIG_BUSYBOX_CUSTOM=y
CONFIG_BUSYBOX_CONFIG_DEVMEM=y
CONFIG_BUSYBOX_CONFIG_TELNET=y
CONFIG_BUSYBOX_CONFIG_FEATURE_TELNET_TTYPE=y
CONFIG_BUSYBOX_CONFIG_FEATURE_TELNET_AUTOLOGIN=y
CONFIG_BUSYBOX_CONFIG_FEATURE_TELNET_WIDTH=y
# ---END Busybox Custom---

# ---Additional Filesystem---
CONFIG_PACKAGE_kmod-loop=y
CONFIG_PACKAGE_kmod-fs-vfat=y
CONFIG_PACKAGE_kmod-fs-exfat=y
# ---END Additional Filesystem---

# ---Filesystem tools---
CONFIG_PACKAGE_sgdisk=y
CONFIG_PACKAGE_losetup=y
CONFIG_PACKAGE_resize2fs=y
CONFIG_PACKAGE_partx-utils=y
CONFIG_PACKAGE_block-mount=y
# ---END Filesystem tools---

# ---Crypto Engine---
CONFIG_PACKAGE_libopenssl=y
CONFIG_PACKAGE_libopenssl-devcrypto=y
CONFIG_PACKAGE_openssl-util=y
CONFIG_PACKAGE_kmod-cryptodev=y
CONFIG_PACKAGE_kmod-crypto-hw-eip93=y
CONFIG_CRYPTO_DEV_EIP93_AES=y
CONFIG_CRYPTO_DEV_EIP93_DES=y
CONFIG_CRYPTO_DEV_EIP93_AEAD=y
CONFIG_CRYPTO_DEV_EIP93_IPSEC=y
# CONFIG_CRYPTO_DEV_EIP93_HASH is not set
# CONFIG_CRYPTO_DEV_EIP93_PRNG is not set
CONFIG_PACKAGE_kmod-ipsec=y
CONFIG_PACKAGE_kmod-ipsec4=y
# ---END Crypto Engine---

# ---EBTABLES---
CONFIG_PACKAGE_kmod-ebtables=y
CONFIG_PACKAGE_ebtables=y
# ---END EBTABLES---

# ---Netowrk Related---
CONFIG_PACKAGE_kmod-bonding=y
CONFIG_PACKAGE_kmod-l2tp-eth=y
CONFIG_PACKAGE_iptables-mod-tproxy=y
# CONFIG_PACKAGE_ip-tiny is not set
CONFIG_PACKAGE_ip-full=y
# CONFIG_PACKAGE_dnsmasq is not set
CONFIG_PACKAGE_dnsmasq-full=y
CONFIG_PACKAGE_libnl=y
CONFIG_PACKAGE_ipset=y
CONFIG_PACKAGE_resolveip=y
CONFIG_PACKAGE_ethtool=y
CONFIG_PACKAGE_netcat=y
CONFIG_PACKAGE_socat=y
CONFIG_PACKAGE_tcpdump=y
CONFIG_PACKAGE_rpcapd=y
CONFIG_PACKAGE_curl=y
CONFIG_LIBCURL_OPENSSL=y
CONFIG_PACKAGE_proto-bonding=y
# ---END Netowrk Related---

# ---Additional Wireless Driver---
CONFIG_PACKAGE_kmod-mt76=y
CONFIG_PACKAGE_kmod-mt7615e=y
CONFIG_PACKAGE_kmod-mt7615-common=y
CONFIG_PACKAGE_kmod-mt7615-firmware=y
CONFIG_PACKAGE_kmod-mt7915e=y
CONFIG_PACKAGE_kmod-ath9k=y
CONFIG_PACKAGE_kmod-ath10k=y
CONFIG_PACKAGE_ath10k-firmware-qca99x0=y
CONFIG_PACKAGE_ath10k-firmware-qca9984=y
CONFIG_PACKAGE_ath10k-firmware-qca9888=y
CONFIG_PACKAGE_ath10k-firmware-qca9887=y
CONFIG_PACKAGE_ath10k-firmware-qca9377=y
CONFIG_PACKAGE_ath10k-firmware-qca6174=y
CONFIG_PACKAGE_ath10k-board-qca99x0=y
CONFIG_PACKAGE_ath10k-board-qca9984=y
CONFIG_PACKAGE_ath10k-board-qca988x=y
CONFIG_PACKAGE_ath10k-board-qca9888=y
CONFIG_PACKAGE_ath10k-board-qca9887=y
CONFIG_PACKAGE_ath10k-board-qca9377=y
# --- Modems ---
CONFIG_PACKAGE_kmod-usb-serial-option=y
CONFIG_PACKAGE_kmod-usb-net-rndis=y
CONFIG_PACKAGE_kmod-usb-net-qmi-wwan=y
CONFIG_PACKAGE_kmod-usb-net-cdc-mbim=y
CONFIG_PACKAGE_umbim=y
CONFIG_PACKAGE_uqmi=y
CONFIG_PACKAGE_usb-modeswitch=y
CONFIG_PACKAGE_luci-proto-qmi=y
CONFIG_PACKAGE_luci-proto-3g=y
# ---END Wireless Driver---

# # ---IPSec Related---
# CONFIG_PACKAGE_kmod-crypto-user=y
# CONFIG_PACKAGE_kmod-crypto-acompress=y
# CONFIG_PACKAGE_kmod-crypto-aead=y
# CONFIG_PACKAGE_kmod-crypto-arc4=y
# CONFIG_PACKAGE_kmod-crypto-authenc=y
# CONFIG_PACKAGE_kmod-crypto-cbc=y
# CONFIG_PACKAGE_kmod-crypto-ccm=y
# CONFIG_PACKAGE_kmod-crypto-cmac=y
# CONFIG_PACKAGE_kmod-crypto-crc32=y
# CONFIG_PACKAGE_kmod-crypto-crc32c=y
# CONFIG_PACKAGE_kmod-crypto-ctr=y
# CONFIG_PACKAGE_kmod-crypto-cts=y
# CONFIG_PACKAGE_kmod-crypto-deflate=y
# CONFIG_PACKAGE_kmod-crypto-des=y
# CONFIG_PACKAGE_kmod-crypto-ecb=y
# CONFIG_PACKAGE_kmod-crypto-ecdh=y
# CONFIG_PACKAGE_kmod-crypto-echainiv=y
# CONFIG_PACKAGE_kmod-crypto-fcrypt=y
# CONFIG_PACKAGE_kmod-crypto-gcm=y
# CONFIG_PACKAGE_kmod-crypto-gf128=y
# CONFIG_PACKAGE_kmod-crypto-ghash=y
# CONFIG_PACKAGE_kmod-crypto-hash=y
# CONFIG_PACKAGE_kmod-crypto-hmac=y
# CONFIG_PACKAGE_kmod-crypto-kpp=y
# CONFIG_PACKAGE_kmod-crypto-lib-blake2s=y
# CONFIG_PACKAGE_kmod-crypto-lib-chacha20=y
# CONFIG_PACKAGE_kmod-crypto-lib-chacha20poly1305=y
# CONFIG_PACKAGE_kmod-crypto-lib-curve25519=y
# CONFIG_PACKAGE_kmod-crypto-lib-poly1305=y
# CONFIG_PACKAGE_kmod-crypto-md4=y
# CONFIG_PACKAGE_kmod-crypto-md5=y
# CONFIG_PACKAGE_kmod-crypto-michael-mic=y
# CONFIG_PACKAGE_kmod-crypto-misc=y
# CONFIG_PACKAGE_kmod-crypto-null=y
# CONFIG_PACKAGE_kmod-crypto-pcbc=y
# CONFIG_PACKAGE_kmod-crypto-pcompress=y
# CONFIG_PACKAGE_kmod-crypto-rmd160=y
# CONFIG_PACKAGE_kmod-crypto-rng=y
# CONFIG_PACKAGE_kmod-crypto-seqiv=y
# CONFIG_PACKAGE_kmod-crypto-sha1=y
# CONFIG_PACKAGE_kmod-crypto-sha256=y
# CONFIG_PACKAGE_kmod-crypto-sha512=y
# CONFIG_PACKAGE_kmod-crypto-test=y
# CONFIG_PACKAGE_kmod-crypto-user=y
# CONFIG_PACKAGE_kmod-crypto-wq=y
# CONFIG_PACKAGE_kmod-crypto-xcbc=y
# CONFIG_PACKAGE_kmod-crypto-xts=y
# 
# CONFIG_PACKAGE_strongswan=y
# CONFIG_PACKAGE_strongswan-full=y
# 
# # ---END IPSec Related---

# ---Build luci---
CONFIG_PACKAGE_luci-compat=y
CONFIG_PACKAGE_luci-proto-relay=y
CONFIG_PACKAGE_luci-proto-bonding=y
CONFIG_LUCI_LANG_en=y
CONFIG_LUCI_LANG_zh_Hans=y
# ---END Build luci---

# ---Build full wpad---
# CONFIG_PACKAGE_wpad-basic-wolfssl is not set
CONFIG_PACKAGE_wpad-openssl=y
# ---END Build full wpad---

# ---DNS Server---
CONFIG_PACKAGE_smartdns=y
CONFIG_PACKAGE_luci-app-smartdns=y
# ---END DNS Server---

# ---USB Server---
CONFIG_PACKAGE_kmod-usbip=y
CONFIG_PACKAGE_usbip=y

CONFIG_PACKAGE_kmod-usbip-server=y
CONFIG_PACKAGE_usbip-server=y

CONFIG_PACKAGE_kmod-usbip-client=y
CONFIG_PACKAGE_usbip-client=y
# ---END USB Server---

# ---System Utils---
CONFIG_PACKAGE_usbutils=y
CONFIG_PACKAGE_pciutils=y
CONFIG_PACKAGE_lsblk=y
CONFIG_PACKAGE_lm-sensors=y
CONFIG_PACKAGE_htop=y
CONFIG_HTOP_LMSENSORS=y
CONFIG_PACKAGE_sudo=y
# ---END System Utils---

# ---Serial Tools---
CONFIG_PACKAGE_coreutils-stty=y
CONFIG_PACKAGE_minicom=y
CONFIG_PACKAGE_screen=y
# ---END Serial Tools---

# ---Debug Tools---
CONFIG_PACKAGE_dtc=y
CONFIG_PACKAGE_strace=y
CONFIG_PACKAGE_gdb=y
CONFIG_PACKAGE_gdbserver=y
CONFIG_PACKAGE_i2c-tools=y
# ---END Debug Tools---

# ---Additional packages---
CONFIG_PACKAGE_iperf3=y
# ---END Additional packages---
