Package: kmod-ipv6
Architecture: mipsel
Version: 2.4.20-1
Section: kernel
Priority: optional
Maintainer: Sebastien NOEL <me@twolife.org>
Source: Embedded in the main OpenWrt buildroot
Depends:
Description: Kernel modules for the IPv6 protocol
