body { 
	background-color:#FFFFFF;
}

font	{ font-family: Verdana, Arial, Helvetica, sans-serif }
td		{ font-family: Arial, Helvetica, sans-serif; font-size: 12px }
th		{ font-family: Arial, Helvetica, sans-serif }
P		{ font-family: Arial, Helvetica, sans-serif }
hr		{ height: 0px; border-top-width: 1px;}
TH.surlink		{ font-family: Arial, Helvetica, sans-serif; color: #000000 }

TH			{ background-color: #99CCCC; height: 0px; font-size: 11px; line-height : 100%; font-weight: bold; color: #000000 }
TR.cellone			{ background-color: #FFFFCC; height: 16px; font-size: 12px; line-height : 100%; color: #000000 }
TR.celltwo			{ background-color: #FFFF99; height: 16px; font-size: 12px; line-height : 100%; color: #000000 }
TR.cellhead			{ background-color: #FFFF44; height: 16px; font-size: 12px; line-height : 100%; color: #000000 }

.copyright		{ font-family: Verdana, Arial, Helvetica, sans-serif; color: #000000; font-size: 10px; letter-spacing: -1px;}
.copyright a		{ color: #CC0000; text-decoration: none;}
.copyright a:hover { color: #FF0000; text-decoration: underline;}

.error_table {  border-spacing:0px;border: 1px solid #000000;}
.error_t {color:#000000;background-color:#FFFFDD;border-spacing:0px;border: 0px}

a		{ color: #0000FF; text-decoration: underline;}
a:hover { color: #FF0000; text-decoration: none;}
.box {
		background-color: #FFFFFF;
		border: 1px solid #999900;
		font-family: Verdana;
		font-size: 10px;
  }
