/*
 *  Font generate by Icomoon<icomoon.io>
 */

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium'), local('Roboto-Medium'), url('Roboto-Medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto Regular'), local('Roboto-Regular'), url('Roboto-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src: url('font.eot');
    src: url('font.eot') format('embedded-opentype'),
    url('font.ttf') format('truetype'),
    url('font.woff') format('woff'),
    url('font.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "advancedtomato";
    src:url("advancedtomato.eot");
    src:url("advancedtomato.eot?#iefix") format("embedded-opentype"),
        url("advancedtomato.woff") format("woff"),
        url("advancedtomato.ttf") format("truetype"),
        url("advancedtomato.svg#advancedtomato") format("svg");
    font-weight: normal;
    font-style: normal;
}
