config TEST
	tristate "Intel(R) VRX518 SmartPHY DSL Test Driver"
	depends on VRX518
	---help---
	  This driver supports Intel(R) VRX518 DSL interrupt and ACA test.

	  To compile this driver as a module, choose M here. The module
	  will be called vrx518.  MSI interrupt support is required for
	  this driver to work correctly.
