Package: pppoecd
Priority: optional
Version: 1.0
Architecture: mipsel
Maintainer: below0
Section: net
Source: Embedded in the main openwrt tarball
Description: Linksys PPPoE daemon for access to internet using DSL modems


