
# Configure button/light behavior here.
config device
	option reset_button	ses
	option status_start	ses_orange
	option status_valid	ses_white

# iptables setup for traffic to/from this host
config filter
	option rule_in		input_rule
	option dest_in		ACCEPT
	option rule_out		output_rule
	option dest_out		ACCEPT

# iptables setup for traffic to/from another host
config forward
	option rule_in		forwarding_rule
	option dest_in		forwarding_vpn_in
	option rule_out		forwarding_rule
	option dest_out		forwarding_vpn_out

