Package: pgsql-utils
Priority: optional
Section: libs
Version: [TBDL]
Architecture: [TBDL]
Maintainer: Nico <nthill@free.fr>
Source: http://nthill.free.fr/openwrt/sources/postgresql/
Description: some PostgreSQL client utilities
Depends: libpq
