config radius
	option disabled '1'
	option ipv6 '1'

	# Logging levels:
	#   0: ALL
	#   1: MSGDUMP
	#   2: DEBUG
	#   3: INFO
	#   4: WARNING
	#   5: ERROR
	# Default: INFO
	option log_level '3'

	option ca_cert '/etc/radius/ca.pem'
	option cert '/etc/radius/cert.pem'
	option key '/etc/radius/key.pem'
	option users '/etc/radius/users'
	option clients '/etc/radius/clients'
	option auth_port '1812'
	option acct_port '1813'
