Package: kmod-ppp-mppe-mppc
Priority: optional
Section: kernel
Version: 2.4.20-1
Architecture: mipsel
Maintainer: Nico <nthill@free.fr>
Source: http://openwrt.org/cgi-bin/viewcvs.cgi/buildroot/
Description: Microsoft PPP compression/encryption (MPPC/MPPE) kernel module
