Package: libfuse
Priority: optional
Section: libs
Version: [TBDL]
Architecture: [TBDL]
Maintainer: Nico <nthill@free.fr>
Source: http://nthill.free.fr/openwrt/sources/fuse2/
Description: Filesystem in Userspace (library)
Depends: libpthread
