#
# Nftables/netfilter fullcone expression support
#
config NFT_FULLCONE
	depends on NF_CONNTRACK
	depends on NF_NAT
	tristate "Netfilter nf_tables fullcone support"
	help
	  This options adds the "fullcone" expression that you can use
	  to perform NAT in the RFC3489-compatible full cone SNAT flavour.
	  Currently only UDP traffic is supported for full-cone NAT.
	  For other protos FULLCONENAT is equivalent to MASQUERADE.

	  To compile this code as a module, choose M here: the module will be
	  called nft_fullcone.

	  If unsure, say N.
