.portal {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background-color: #ebedef;
}

.align-items-center {
  align-items: center!important;
}

.flex-row {
  flex-direction: row!important;
}

.justify-content-center {
  justify-content: center!important;
}
