#!/usr/bin/make -f

ifeq ($(strip $(TOPDIR)),)
TOPDIR := $(shell pwd)/../../../..
endif


PACKAGE := kmod-ppp-async

MY_INSTALL_DIR := /tmp/$(PACKAGE)


build:


install:
	rm -rf $(MY_INSTALL_DIR)
	install -m0755 -d $(MY_INSTALL_DIR)/lib/
	bzcat $(TOPDIR)/openwrt-kmodules.tar.bz2 | tar -C $(MY_INSTALL_DIR)/lib/ -xvf - \
	 modules/2.4.20/kernel/drivers/net/ppp_async.o \
	 
	mv -f \
	 $(MY_INSTALL_DIR)/lib/modules/2.4.20/kernel/drivers/net/ppp_async.o \
	 $(MY_INSTALL_DIR)/lib/modules/2.4.20/
	 
	rm -rf \
	 $(MY_INSTALL_DIR)/lib/modules/2.4.20/kernel


clean:

