:root {
	--main-color: #000;
	--header-bg: #C8CBCC;
	--header-color: #000;
	--bar-bg: #717576;
	--menu-bg-color: #717576;
	--menu-color: #fefeff;
	--menu-color-hover: #202124;
	--main-menu-color: #202124;
	--submenu-bg-hover: #d4d4d4;
	--submenu-bg-hover-active: #555d60;
	--font-body: "Microsoft Yahei", "WenQuanYi Micro Hei", "sans-serif", "Helvetica Neue", "Helvetica", "Hiragino Sans GB";
}
