#!/bin/sh

rtl931x_stack_check_enabled() {
	local enabled

	config_get_bool enabled "$1" enabled 0
	[ "$enabled" -eq 1 ] && rtl931x_stack_wait=1
}

setup_switch() {
	rtl931x_stack_wait=0
	config_load rtl931x-stack
	config_foreach rtl931x_stack_check_enabled stack
	[ "$rtl931x_stack_wait" -eq 1 ] || return 0

	logger -t rtl931x-stack "waiting for stack network readiness"
	while ! ubus wait_for rtl931x.stack.ready; do
		sleep 1
	done
}
