config GPIO_NXP_74HC153
	tristate "NXP 74HC153 Dual 4-input multiplexer"
	help
	  Platform driver for NXP 74HC153 Dual 4-input Multiplexer.
	  This provides a GPIO interface supporting input mode only.

