#!/usr/bin/make -f

ifneq ($(strip ${IPKG_RULES_INC}),)
 include $(IPKG_RULES_INC)
endif

##

PKG_VERSION := $(shell cat ./ipkg/version)
CURRENT_DIR := $(shell pwd)
INSTALL_DIR ?= $(CURRENT_DIR)/ipkg-install

unexport INSTALL_DIR

I_LIBNET := ipkg/libnet
I_LIBNET_DEV := ipkg/libnet-dev

BUILD_DEPS := \
	$(STAGING_DIR)/usr/include/pcap.h \

CONFIGURE_OPTS = \
	--enable-shared \
	--enable-static \
	--with-pf_packet=yes \

##

all: package


.stamp-configured: $(BUILD_DEPS)

	touch configure.in
	touch include.m4
	touch aclocal.m4
	touch Makefile.in
	touch configure

	rm -rf config.cache
	$(TARGET_CONFIGURE_OPTS) \
	CFLAGS="$(TARGET_CFLAGS) -I$(STAGING_DIR)/usr/include" \
	LDFLAGS="-L$(STAGING_DIR)/usr/lib" \
	ac_libnet_have_pf_packet=yes \
	ac_cv_lbl_unaligned_fail=no \
	ac_cv_libnet_endianess=lil \
	./configure \
	  --target=$(GNU_TARGET_NAME) \
	  --host=$(GNU_TARGET_NAME) \
	  --build=$(GNU_HOST_NAME) \
	  --program-prefix="" \
	  --program-suffix="" \
	  --prefix=/usr \
	  --exec-prefix=/usr \
	  --bindir=/usr/bin \
	  --datadir=/usr/share \
	  --includedir=/usr/include \
	  --infodir=/usr/share/info \
	  --libdir=/usr/lib \
	  --libexecdir=/usr/lib \
	  --localstatedir=/var \
	  --mandir=/usr/share/man \
	  --sbindir=/usr/sbin \
	  --sysconfdir=/etc \
	  $(DISABLE_LARGEFILE) \
	  $(DISABLE_NLS) \
	  $(CONFIGURE_OPTS) \

	touch config.guess
	touch config.sub

	touch .stamp-configured


.stamp-built: .stamp-configured

	$(MAKE) \
	  $(TARGET_CONFIGURE_OPTS) \
	  CFLAGS="$(TARGET_CFLAGS)" \
	  
	touch .stamp-built


$(INSTALL_DIR)/usr/include/libnet.h: .stamp-built

	mkdir -p $(INSTALL_DIR)

	$(MAKE) \
	  DESTDIR="$(INSTALL_DIR)" \
	 install


configure: .stamp-configured


build: .stamp-built


install: $(INSTALL_DIR)/usr/include/libnet.h


package: $(INSTALL_DIR)/usr/include/libnet.h

	mkdir -p $(I_LIBNET)/usr/lib
	cp -fpR $(INSTALL_DIR)/usr/lib/libnet.so.* $(I_LIBNET)/usr/lib/
	$(STRIP) $(I_LIBNET)/usr/lib/libnet.so.*

	mkdir -p $(I_LIBNET_DEV)/usr/bin
	cp -fpR $(INSTALL_DIR)/usr/bin/libnet-config $(I_LIBNET_DEV)/usr/bin/
	mkdir -p $(I_LIBNET_DEV)/usr/include
	cp -fpR $(INSTALL_DIR)/usr/include/libnet.h $(I_LIBNET_DEV)/usr/include/
	cp -fpR $(INSTALL_DIR)/usr/include/libnet $(I_LIBNET_DEV)/usr/include/
	mkdir -p $(I_LIBNET_DEV)/usr/lib
	cp -fpR $(INSTALL_DIR)/usr/lib/libnet.a $(I_LIBNET_DEV)/usr/lib/
	cp -fpR $(INSTALL_DIR)/usr/lib/libnet.so* $(I_LIBNET_DEV)/usr/lib/

	chmod 0755 ipkg/*/CONTROL/
	chmod 0644 ipkg/*/CONTROL/control
	
	perl -pi -e "s/^Arch.*:.*/Architecture: $(ARCH)/g" ipkg/*/CONTROL/control
ifneq ($(strip $(PKG_VERSION)),)
	perl -pi -e "s/^Vers.*:.*/Version: $(PKG_VERSION)/g" ipkg/*/CONTROL/control
endif

	$(IPKG_BUILD) $(I_LIBNET) $(IPKG_TARGET_DIR)
	$(IPKG_BUILD) $(I_LIBNET_DEV) $(IPKG_TARGET_DIR)


clean:

	-$(MAKE) \
	  DESTDIR="$(INSTALL_DIR)" \
	 uninstall clean

	rm -rf .stamp-* \
	  $(I_LIBNET)/usr \
	  $(I_LIBNET_DEV)/usr \


control:

	@cat $(I_LIBNET)/CONTROL/control
	@echo
	@cat $(I_LIBNET_DEV)/CONTROL/control
	@echo
	

.PHONY: configure build install package clean control
