/*
	CSS for ROOter splash pages 
	Copyright Francois Dechery
	https://github.com/soif
*/

/*modified_and_labeled_by__CSGO:Alpha__Dec_2022*/

/*Background*/
.rooterSplash{
	padding: 0;
	background: #333;
}
.rooterPageHead{
	padding: 20px 5px;
	background: -moz-linear-gradient(top, rgba(140,140,255,1) 0%, rgba(85,85,255,1) 100%);
	background: -webkit-linear-gradient(top, rgba(140,140,255,1) 0%,rgba(85,85,255,1) 100%);
	background: linear-gradient(to bottom, rgba(153,153,153,1) 0%,rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c8cff', endColorstr='#5555ff',GradientType=0 );
	border-bottom: 1px solid rgba(0,0,0,0.7);

}
/*Main_Tittle_Edit*/
.rooterHeadTitle{
	text-decoration: underline;
	color: #03d1ff;
	text-align: center;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 72px;
	line-height: 120%;
	text-shadow: -1px -1px 2px rgba(0,0,0,0.5);
}
/*Login_Cell */
.rooterItem{
	overflow: hidden;
	border: 0px solid #000;
	border-color: #00 #DDD #DDD #00;
	margin-bottom: 5px;
	border-radius: 30px;
	background-color: #5d5b5b;
	margin: auto;
	width: 300px;
}
/*Login_Cell_Hover*/
.rooterItem:hover{
	background-color: #7d7b7b;
	border-color: #AAA;
}
/*Router_Login_Text*/
.rooterItemTitle{
	float: left;
	position: relative;
	right: -15%;
	font-size: 2em;
	font-weight: bold;
	padding-right: 10px;
	color: #03d1ff;
	line-height: 2em;
	margin-right: 8px;
	vertical-align: middle;
}
/*Iconmoon_Text_Edit*/
.rooterPageContent{
	border-top: 1px solid rgb(0 0 0 / 53%);
	border-bottom: 1px solid rgb(0 0 0 / 53%);
	padding: 0px 0px;
	max-width: 1200px;
	margin: auto;
	color: #03d1ff;
	font-size: 21px;
	text-align: center;
}
/*Cells_Tittle_Text_&_Background*/
.msTitle{
	border-radius: 2px 2px 0 0;
	padding: 5px 5px ;
	color: #03d1ff;
	font-size: 17px;
	font-weight: bold;
	background: -moz-linear-gradient(top, rgba(99,99,99,1) 0%, rgba(72,72,72,1) 100%);
	background: -webkit-linear-gradient(top, rgba(99,99,99,1) 0%,rgba(72,72,72,1) 100%);
	background: linear-gradient(to bottom, rgba(93,92,92,1) 0%,rgba(0,0,0,1) 100%);/*Cell BG Color*/
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#636363', endColorstr='#484848',GradientType=0 );
}
/*Cell_Border_Background*/
.msCell{
	border-radius: 6px;
	display: inline-block;
	margin-top: 10px;
	float:left;
	position: relative;
	right: -5%;
	border: 1px solid #333;
	padding-bottom: 5px;
	background: #AFAFAF;
/*Network_&_Device_Status_Text*/
	text-align: center;
	margin-left: 12px;
	font-size: 18px;

}
/*Modem_Satus_Text_size*/
.modemStatusRow1 .msCell{
	width: 176px;
	margin: 10px 5px 0 5px;	
	text-align: center;
	font-size: 30px;
	line-height: 110%;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}
/*Levels_Name_Text_Strength_RSSI_RSRP*/
.msDesc{
	color: #333;
	font-size: 18px;
	font-weight: bold;
	padding: 5px;
	margin-left: 10px;
	margin-top: 5px;
}
/*Erase Dot*/
.msDot{
	font-size: 0px;
}
/*Levels_Text_Except_Strenghth_RSSI_RSRP*/
.msText{
	color: #333;
	padding: 3px; 
	font-weight: bold;
	text-align: center;
}
/*Modem_2_Text*/
.modemStatusRow{
	clear:both;
	padding-bottom: 20px;
	overflow: hidden;
	color: #333;
}
/*Start_Construction*/
/*Bandwith*/
.rooterPageContentBW{
	border-top: 0px solid rgb(0 0 0 / 53%);
	border-bottom: 0px solid rgb(0 0 0 / 53%);
	padding: 10px 0px;
	width: 590px;
	margin-left: -25px;
}
.bwText{
	Font-size: 20px;
}
/*End_construction*/
/*Splash_Status_Levels*/
.level_1{
	color: #0F0; /*Green*/
}
.level_2{
	color: #EF0; /*yellow*/
} 
.level_3{
	color: #F80; /*orange*/
}
.level_4{
	color: #FF4100; /*dark_orange*/
}
.level_5{
	color: #F00; /*red*/
} 
.level_6{
	color: #000; /*black*/
}
/*Not currently in used or identified*/
/*
.modemStatusBlock{
	margin-bottom: 30px;	
}
.rooterPageHead{
	background: #55F;
}
.icon{
	color: #55F;
}
.rooterPageFoot{
	border-top: 1px solid rgba(255,255,255,0.8);
	margin-top: 20px;
	padding: 10px 10px;
	max-width: 950px;
	margin: auto;
	font-size: 16px;
}
.rooterFootMenu{
	float: left;
	margin-bottom: 10px;
}
.rooterFootMenu A{
	text-decoration: none;
}
.rooterFootMenu A:hover{
	color: #000;
}
.rooterFootMenu UL{
	padding: 0;
	margin: 0;
	overflow: hidden;
	display: inline-block;
}
.rooterFootMenu LI{
	float: left;
	padding: 0;
	margin: 0;
	list-style: none;	
}
.rooterFootMenu LI A{
	padding: 0 10px;
	color: #555;	
}
.rooterFootMenu LI:first-child A{
	padding-left: 0;
}
.rooterFootCredits{
	float: right;
	padding: 0;
	margin: 0;
	color: #999;
	text-align: right;
}
.rooterFootCredits A{
	color: #777;
}

.rooterHeadBox{
	font-size: 50px;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #fff;
	line-height: 100%;
	overflow: hidden;
	width: 700px;
	margin: auto;
	padding-top: 10px;
	opacity: 0;
}
.rooterLogo{
	background: url("../img/kangaroo_800.png") no-repeat;
	background-size: 100%;
	float: left;
	height: 110px;
	width: 250px;
	opacity: 0.4;
}
.rooterTagline{
	margin-left: 100px;
	padding-left: 10px;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
}
.rooterItemsp{
	overflow: hidden;
	border: 5px solid #00;
	border-color: #00 #DDD #DDD #00;
	padding: 5px 15px;
	margin-bottom: 5px;
	border-radius: 8px;
	background-color: #AFAFAF;
	max-width: 300px ;
}
.rooterItemsp:hover{
	background-color: #CFCFCF;
	border-color: #AAA;
}

.rooterItemDesc{
	font-size: 18px;
	color: #777;
	margin-left: 220px;
	margin-top: 0.7em;
}
*/