#!/usr/bin/make -f

ifneq ($(strip ${IPKG_RULES_INC}),)
 include $(IPKG_RULES_INC)
endif

##

PKG_VERSION := $(shell cat ./ipkg/version)
CURRENT_DIR := $(shell pwd)
INSTALL_DIR ?= $(CURRENT_DIR)/ipkg-install

unexport INSTALL_DIR

I_KMOD_SHFS := ipkg/kmod-shfs
I_SHFS_UTILS := ipkg/shfs-utils

BUILD_DEPS = \

##

all: package


.stamp-configured: $(BUILD_DEPS)

	touch .stamp-configured


.stamp-built: .stamp-configured

	$(MAKE) \
	  OFLAGS="$(TARGET_CFLAGS)" \
	  CC="$(TARGET_CC)" \
	  LINKER="$(TARGET_CC)" \
	  KERNEL="$(LINUX_VERSION)" \
	  KERNEL_SOURCES="$(LINUX_DIR)" \
	 all
	
	touch .stamp-built
	

$(INSTALL_DIR)/lib/modules/$(LINUX_VERSION)/shfs.o: .stamp-built

	mkdir -p $(INSTALL_DIR)
	
	$(MAKE) \
	  ROOT="$(INSTALL_DIR)" \
	  KERNEL="$(LINUX_VERSION)" \
	  KERNEL_SOURCES="$(LINUX_DIR)" \
	 install
	

configure: .stamp-configured


build: .stamp-built


install: $(INSTALL_DIR)/lib/modules/$(LINUX_VERSION)/shfs.o


package: $(INSTALL_DIR)/lib/modules/$(LINUX_VERSION)/shfs.o

	mkdir -p $(I_KMOD_SHFS)/lib/modules/$(LINUX_VERSION)
	cp -fpR $(INSTALL_DIR)/lib/modules/$(LINUX_VERSION)/kernel/fs/shfs/shfs.o \
	  $(I_KMOD_SHFS)/lib/modules/$(LINUX_VERSION)/
	$(TARGET_CROSS)strip --remove-section=.comment --remove-section=.note \
	  $(I_KMOD_SHFS)/lib/modules/$(LINUX_VERSION)/*.o
	
	mkdir -p $(I_SHFS_UTILS)/usr/sbin
	cp -fpR $(INSTALL_DIR)/usr/sbin/shfs{,u}mount $(I_SHFS_UTILS)/usr/sbin/
	cp -fpR $(INSTALL_DIR)/usr/sbin/mount.shfs $(I_SHFS_UTILS)/usr/sbin/
	$(STRIP) $(I_SHFS_UTILS)/usr/sbin/shfs*
	
	chmod 0755 ipkg/*/CONTROL/
	chmod 0644 ipkg/*/CONTROL/control
	
	perl -pi -e "s/^Arch.*:.*/Architecture: $(ARCH)/g" ipkg/*/CONTROL/control
ifneq ($(strip $(PKG_VERSION)),)
	perl -pi -e "s/^Vers.*:.*/Version: $(PKG_VERSION)/g" ipkg/*/CONTROL/control
	perl -pi -e "s/^Vers.*:.*/Version: $(LINUX_VERSION)+$(PKG_VERSION)/g" $(I_KMOD_SHFS)/CONTROL/control
endif
	
	$(IPKG_BUILD) $(I_KMOD_SHFS) $(IPKG_TARGET_DIR)
	$(IPKG_BUILD) $(I_SHFS_UTILS) $(IPKG_TARGET_DIR)


clean:

	-$(MAKE) \
	  ROOT="$(INSTALL_DIR)" \
	  KERNEL="$(LINUX_VERSION)" \
	  KERNEL_SOURCES="$(LINUX_DIR)" \
	 uninstall clean
	
	rm -rf .stamp-* \
	  $(INSTALL_DIR) \
	  $(I_KMOD_SHFS)/lib \
	  $(I_SHFS_UTILS)/usr \


control:

	@cat $(I_KMOD_SHFS)/CONTROL/control
	@echo
	@cat $(I_SHFS_UTILS)/CONTROL/control
	@echo
	

.PHONY: configure build install package clean control
