#!/usr/bin/make -f

ifeq ($(strip $(TOPDIR)),)
TOPDIR := $(shell pwd)/../../../..
endif


PACKAGE := kmod-nfs

MY_INSTALL_DIR := /tmp/$(PACKAGE)


build:


install:
	rm -rf $(MY_INSTALL_DIR)
	install -m0755 -d $(MY_INSTALL_DIR)/lib/
	bzcat $(TOPDIR)/openwrt-kmodules.tar.bz2 | tar -C $(MY_INSTALL_DIR)/lib/ -xvf - \
	 modules/2.4.20/kernel/fs/lockd/lockd.o \
	 modules/2.4.20/kernel/fs/nfs/nfs.o \
	 modules/2.4.20/kernel/net/sunrpc/sunrpc.o \
	 
	mv -f \
	 $(MY_INSTALL_DIR)/lib/modules/2.4.20/kernel/fs/lockd/*.o \
	 $(MY_INSTALL_DIR)/lib/modules/2.4.20/
	mv -f \
	 $(MY_INSTALL_DIR)/lib/modules/2.4.20/kernel/fs/nfs/*.o \
	 $(MY_INSTALL_DIR)/lib/modules/2.4.20/
	mv -f \
	 $(MY_INSTALL_DIR)/lib/modules/2.4.20/kernel/net/sunrpc/*.o \
	 $(MY_INSTALL_DIR)/lib/modules/2.4.20/
	 
	rm -rf \
	 $(MY_INSTALL_DIR)/lib/modules/2.4.20/kernel


clean:

