Package: ip
Architecture: mipsel
Version: 2.0
Section: net
Priority: optional
Maintainer: Gerry Rozema <gerryr@rozeware.bc.ca>
Source: http://ftp.debian.org/debian/pool/main/i/iproute/iproute-20010824.orig.tar.gz 
Depends:
Description: iproute2 stuff
