    <%+cbi/valueheader%>
	<script src="/luci-static/resources/codemirror/lib/codemirror.js"></script>
	<link rel="stylesheet" href="/luci-static/resources/codemirror/lib/codemirror.css"/>
    <script src="/luci-static/resources/codemirror/mode/yaml/yaml.js"></script>
	<link rel="stylesheet" href="/luci-static/resources/codemirror/theme/dracula.css"/>
	<link rel="stylesheet" href="/luci-static/resources/codemirror/addon/fold/foldgutter.css"/>
	<script src="/luci-static/resources/codemirror/addon/fold/foldcode.js"></script>
	<script src="/luci-static/resources/codemirror/addon/fold/foldgutter.js"></script>
	<script src="/luci-static/resources/codemirror/addon/fold/indent-fold.js"></script>
	<script type="text/javascript">//<![CDATA[
	var editor = CodeMirror.fromTextArea(document.getElementById("cbid.AdGuardHome.AdGuardHome.escconf"), {
	mode: "text/yaml",    //实现groovy代码高亮
	    styleActiveLine: true,
lineNumbers: true,	//显示行号
theme: "dracula",	//设置主题
lineWrapping: true,	//代码折叠
foldGutter: true,
gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
matchBrackets: true,//括号匹配
foldGutter: true
}
);
//]]>
</script> 
<%+cbi/valuefooter%>
	