<%
	local display_back  = (redirect and not flow.hidebackbtn)
	local display_skip  = (flow.skip)
	local display_apply = (not autoapply and not flow.hideapplybtn)
	local display_save  = (not flow.hidesavebtn)
	local display_reset = (not flow.hideresetbtn)

	if pageaction and
	   (display_back or display_skip or display_apply or display_save or display_reset)
	then
		%><div class="cbi-page-actions"><%

		if display_back then
			%><input class="cbi-button cbi-button-link" type="button" value="<%:Back to Overview%>" onclick="location.href='<%=pcdata(redirect)%>'" /> <%
		end

		if display_skip then
			%><input class="cbi-button cbi-button-skip" type="button" value="<%:Skip%>" onclick="cbi_submit(this, 'cbi.skip')" /> <%
		end

		if display_apply then
			%><input class="cbi-button cbi-button-apply" type="button" value="<%:Save & Apply%>" onclick="cbi_submit(this, 'cbi.apply')" /> <%
		end

		if display_save then
			%><input class="cbi-button cbi-button-save" type="submit" value="<%:Save%>" /> <%
		end

		if display_reset then
			%><input class="cbi-button cbi-button-reset" type="button" value="<%:Reset%>" onclick="location.href='<%=REQUEST_URI%>'" /> <%
		end

		%></div><%
	end
%>

</form>

<script type="text/javascript">cbi_init();</script>

<%+footer%>
