<%+cbi/valueheader%>

<%-
	local utl = require "luci.util"
	local net = require "luci.model.network".init()
	local cbeid = luci.cbi.FEXIST_PREFIX .. self.config .. "." .. section .. "." .. self.option

	local iface
	local ifaces = net:get_interfaces()
	local value

	if self.map:formvalue(cbeid) == "1" then
		value = self:formvalue(section) or self.default or ""
	else
		value = self:cfgvalue(section) or self.default
	end

	local checked = { }

	if value then
		for value in utl.imatch(value) do
			for value in utl.imatch(value) do
				checked[value] = true
			end
		end
	else
		local n = self.network and net:get_network(self.network)
		if n then
			local a = n:is_alias()
			if a then
				checked['@' .. a] = true
			else
				local i
				for _, i in ipairs(n:get_interfaces() or { n:get_interface() }) do
					checked[i:name()] = true
				end
			end
		end
	end
-%>

<input type="hidden" name="<%=cbeid%>" value="1" />

<div class="cbi-dropdown" display-items="10" placeholder="<%:-- please select -- %>"<%=
	attr("name", cbid) ..
	ifattr(self.widget == "checkbox", "multiple", "multiple") ..
	ifattr(self.widget == "checkbox", "optional", "optional")
%>>
	<script type="item-template"><!--
		<li data-value="{{value}}">
			<img title="<%:Custom Interface%>: &quot;{{value}}&quot;" src="<%=resource%>/icons/ethernet_disabled.png" />
			<span class="hide-open">{{value}}</span>
			<span class="hide-close"><%:Custom Interface%>: "{{value}}"</span>
		</li>
	--></script>
	<ul>
		<% for _, iface in ipairs(ifaces) do
			if (not self.noaliases  or iface:type() ~= "alias") and
			   (not self.nobridges  or not iface:is_bridge()) and
			   (not self.noinactive or iface:is_up()) and
			   iface:name() ~= self.exclude
			then %>
		<li<%=
			attr("data-value", iface:name()) ..
			ifattr(checked[iface:name()], "selected", "selected")
		%>>
			<img<%=attr("title", iface:get_i18n())%> src="<%=resource%>/icons/<%=iface:type()%><%=iface:is_up() and "" or "_disabled"%>.png" />
			<span class="hide-open"><%=pcdata(iface:name())%></span>
			<span class="hide-close">
				<%=pcdata(iface:get_i18n())%>
				<% local ns = iface:get_networks(); if #ns > 0 then %>(
					<%- local i, n; for i, n in ipairs(ns) do -%>
						<%-= (i>1) and ', ' -%>
						<a href="<%=n:adminlink()%>"><%=n:name()%></a>
					<%- end -%>
				)<% end %>
			</span>
		</li>
		<% end end %>
		<% if not self.nocreate then %>
		<li data-value="">
			<img title="<%:Custom Interface%>" src="<%=resource%>/icons/ethernet_disabled.png" />
			<span><%:Custom Interface%>:</span>
			<input type="password" style="display:none" />
			<input class="create-item-input" type="text" />
		</li>
		<% end %>
	</ul>
</div>

<%+cbi/valuefooter%>
