Package: kmod-ipt6
Architecture: mipsel
Version: 2.4.20-1
Section: kernel
Priority: optional
Maintainer: Sebastien NOEL <me@twolife.org>
Source: Embedded in the main OpenWrt buildroot
Depends: kmod-ipv6, ip6tables
Description: ip6tables kernel modules
