#!/usr/bin/make -f

ifeq ($(strip $(TOPDIR)),)
TOPDIR := $(shell pwd)/../../../..
endif


# variables extracted from $(TOPDIR)/Makefile
ARCH:= mipsel
STAGING_DIR=$(TOPDIR)/build_$(ARCH)/staging_dir
REAL_GNU_TARGET_NAME=$(ARCH)-linux-uclibc
TARGET_CROSS=$(STAGING_DIR)/bin/$(REAL_GNU_TARGET_NAME)-
STRIP=$(TARGET_CROSS)strip --remove-section=.comment --remove-section=.note
# could be better if replaced with:
#include $(TOPDIR)/Config


PACKAGE := libpthread

MY_INSTALL_DIR := /tmp/$(PACKAGE)


build:


install:
	rm -rf $(MY_INSTALL_DIR)
	install -m0755 -d $(MY_INSTALL_DIR)/lib
	install -m0755 $(STAGING_DIR)/$(REAL_GNU_TARGET_NAME)/lib/libpthread-0.9.26.so $(MY_INSTALL_DIR)/lib
	$(STRIP) $(MY_INSTALL_DIR)/lib/libpthread*.so*
	ln -fs libpthread-0.9.26.so $(MY_INSTALL_DIR)/lib/libpthread.so.0

clean:

