CONFIG_TARGET_rockchip=y
CONFIG_TARGET_rockchip_armv8=y
CONFIG_TARGET_rockchip_armv8_DEVICE_seeed_linkstar-h68k-1432v1=y
CONFIG_PACKAGE_bluelog=m
CONFIG_PACKAGE_bluelog-live=m
CONFIG_PACKAGE_bluez-daemon=m
CONFIG_PACKAGE_bluez-libs=m
CONFIG_PACKAGE_bluez-tools=m
CONFIG_PACKAGE_bluez-utils=m
CONFIG_PACKAGE_bluez-utils-btmon=m
CONFIG_PACKAGE_bluez-utils-extra=m
CONFIG_PACKAGE_cgi-io=y
CONFIG_PACKAGE_dbus=m
CONFIG_PACKAGE_glib2=m
CONFIG_PACKAGE_hostapd-common=m
CONFIG_PACKAGE_iw=m
CONFIG_PACKAGE_iwinfo=m
CONFIG_PACKAGE_kmod-bluetooth=m
CONFIG_PACKAGE_kmod-cfg80211=m
CONFIG_PACKAGE_kmod-crypto-aead=m
CONFIG_PACKAGE_kmod-crypto-ccm=m
CONFIG_PACKAGE_kmod-crypto-cmac=m
CONFIG_PACKAGE_kmod-crypto-ctr=m
CONFIG_PACKAGE_kmod-crypto-ecb=m
CONFIG_PACKAGE_kmod-crypto-ecdh=m
CONFIG_PACKAGE_kmod-crypto-gcm=m
CONFIG_PACKAGE_kmod-crypto-geniv=m
CONFIG_PACKAGE_kmod-crypto-gf128=m
CONFIG_PACKAGE_kmod-crypto-ghash=m
CONFIG_PACKAGE_kmod-crypto-hmac=m
CONFIG_PACKAGE_kmod-crypto-kpp=m
CONFIG_PACKAGE_kmod-crypto-manager=m
CONFIG_PACKAGE_kmod-crypto-md5=m
CONFIG_PACKAGE_kmod-crypto-null=m
CONFIG_PACKAGE_kmod-crypto-rng=m
CONFIG_PACKAGE_kmod-crypto-seqiv=m
CONFIG_PACKAGE_kmod-crypto-sha3=m
CONFIG_PACKAGE_kmod-crypto-sha512=m
CONFIG_PACKAGE_kmod-fs-configfs=m
CONFIG_PACKAGE_kmod-fs-cramfs=m
CONFIG_PACKAGE_kmod-fs-exfat=m
CONFIG_PACKAGE_kmod-fs-exportfs=m
CONFIG_PACKAGE_kmod-fs-ext4=m
CONFIG_PACKAGE_kmod-fs-xfs=m
CONFIG_PACKAGE_kmod-gpio-beeper=m
CONFIG_PACKAGE_kmod-gpio-button-hotplug=m
CONFIG_PACKAGE_kmod-gpio-cascade=m
CONFIG_PACKAGE_kmod-hid=m
CONFIG_PACKAGE_kmod-hid-generic=m
CONFIG_PACKAGE_kmod-hwmon-core=m
CONFIG_PACKAGE_kmod-i2c-core=m
CONFIG_PACKAGE_kmod-input-core=m
CONFIG_PACKAGE_kmod-input-evdev=m
CONFIG_PACKAGE_kmod-input-gpio-keys=m
CONFIG_PACKAGE_kmod-input-leds=m
CONFIG_PACKAGE_kmod-leds-gpio=m
CONFIG_PACKAGE_kmod-leds-pwm=m
CONFIG_PACKAGE_kmod-leds-uleds=m
CONFIG_PACKAGE_kmod-ledtrig-activity=m
CONFIG_PACKAGE_kmod-ledtrig-audio=m
CONFIG_PACKAGE_kmod-ledtrig-gpio=m
CONFIG_PACKAGE_kmod-lib-crc16=m
CONFIG_PACKAGE_kmod-lib-zlib-inflate=m
CONFIG_PACKAGE_kmod-libphy=m
CONFIG_PACKAGE_kmod-mac80211=m
CONFIG_PACKAGE_kmod-mt76-connac=m
CONFIG_PACKAGE_kmod-mt76-core=m
CONFIG_PACKAGE_kmod-mt7921-common=m
CONFIG_PACKAGE_kmod-mt7921-firmware=m
CONFIG_PACKAGE_kmod-mt7921e=m
CONFIG_PACKAGE_kmod-mt792x-common=m
CONFIG_PACKAGE_kmod-mux-core=m
CONFIG_PACKAGE_kmod-mux-gpio=m
CONFIG_PACKAGE_kmod-nls-base=y
CONFIG_PACKAGE_kmod-nls-cp437=y
CONFIG_PACKAGE_kmod-nls-iso8859-13=y
CONFIG_PACKAGE_kmod-nls-utf8=y
CONFIG_PACKAGE_kmod-phy-realtek=m
CONFIG_PACKAGE_kmod-r8125=m
CONFIG_PACKAGE_kmod-regmap-core=m
CONFIG_PACKAGE_kmod-rtl8xxxu=m
CONFIG_PACKAGE_kmod-sctp=m
CONFIG_PACKAGE_kmod-udptunnel4=m
CONFIG_PACKAGE_kmod-udptunnel6=m
CONFIG_PACKAGE_kmod-usb-core=y
CONFIG_PACKAGE_kmod-usb-dwc2=m
CONFIG_PACKAGE_kmod-usb-dwc2-pci=m
CONFIG_PACKAGE_kmod-usb-dwc3=m
CONFIG_PACKAGE_kmod-usb-ehci=y
CONFIG_PACKAGE_kmod-usb-gadget=m
CONFIG_PACKAGE_kmod-usb-gadget-ehci-debug=m
CONFIG_PACKAGE_kmod-usb-gadget-eth=m
CONFIG_PACKAGE_kmod-usb-gadget-hid=m
CONFIG_PACKAGE_kmod-usb-gadget-serial=m
CONFIG_PACKAGE_kmod-usb-lib-composite=m
CONFIG_PACKAGE_kmod-usb-ohci=m
CONFIG_PACKAGE_kmod-usb-ohci-pci=m
CONFIG_PACKAGE_kmod-usb-phy-nop=m
CONFIG_PACKAGE_kmod-usb-roles=m
CONFIG_PACKAGE_kmod-usb-storage=m
CONFIG_PACKAGE_kmod-usb-storage-extras=m
CONFIG_PACKAGE_kmod-usb-uhci=m
CONFIG_PACKAGE_kmod-usb-xhci-hcd=y
CONFIG_PACKAGE_kmod-usb2=y
CONFIG_PACKAGE_kmod-usb3=y
CONFIG_PACKAGE_libattr=m
CONFIG_PACKAGE_libdbus=m
CONFIG_PACKAGE_libexpat=m
CONFIG_PACKAGE_libffi=m
CONFIG_PACKAGE_libical=m
CONFIG_PACKAGE_liblucihttp=y
CONFIG_PACKAGE_liblucihttp-ucode=y
CONFIG_PACKAGE_libncurses=m
CONFIG_PACKAGE_libpcre2=m
CONFIG_PACKAGE_libreadline=m
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-app-firewall=y
CONFIG_PACKAGE_luci-app-package-manager=y
CONFIG_PACKAGE_luci-base=y
CONFIG_PACKAGE_luci-light=y
CONFIG_PACKAGE_luci-mod-admin-full=y
CONFIG_PACKAGE_luci-mod-network=y
CONFIG_PACKAGE_luci-mod-status=y
CONFIG_PACKAGE_luci-mod-system=y
CONFIG_PACKAGE_luci-proto-ipv6=y
CONFIG_PACKAGE_luci-proto-ppp=y
CONFIG_PACKAGE_luci-theme-bootstrap=y
CONFIG_PACKAGE_rpcd=y
CONFIG_PACKAGE_rpcd-mod-file=y
CONFIG_PACKAGE_rpcd-mod-iwinfo=y
CONFIG_PACKAGE_rpcd-mod-luci=y
CONFIG_PACKAGE_rpcd-mod-rrdns=y
CONFIG_PACKAGE_rpcd-mod-ucode=y
CONFIG_PACKAGE_terminfo=m
CONFIG_PACKAGE_ucode-mod-digest=m
CONFIG_PACKAGE_ucode-mod-html=y
CONFIG_PACKAGE_ucode-mod-math=y
CONFIG_PACKAGE_ucode-mod-nl80211=m
CONFIG_PACKAGE_ucode-mod-rtnl=m
CONFIG_PACKAGE_uhttpd=y
CONFIG_PACKAGE_uhttpd-mod-ubus=y
CONFIG_PACKAGE_wifi-scripts=m
CONFIG_PACKAGE_wireless-regdb=m
CONFIG_PACKAGE_wireless-tools=m
