CONFIG_TARGET_rockchip=y
CONFIG_TARGET_rockchip_armv8=y
CONFIG_TARGET_rockchip_armv8_DEVICE_seeed_linkstar-h68k-1432v1=y
CONFIG_PACKAGE_hostapd=y
CONFIG_PACKAGE_iw-full=y
CONFIG_PACKAGE_kmod-bluetooth=m
CONFIG_PACKAGE_kmod-crypto-acompress=m
CONFIG_PACKAGE_kmod-crypto-crc32=m
CONFIG_PACKAGE_kmod-crypto-ecb=m
CONFIG_PACKAGE_kmod-crypto-ecdh=m
CONFIG_PACKAGE_kmod-crypto-kpp=m
CONFIG_PACKAGE_kmod-fs-configfs=m
CONFIG_PACKAGE_kmod-hid=m
CONFIG_PACKAGE_kmod-hid-generic=m
CONFIG_PACKAGE_kmod-input-core=m
CONFIG_PACKAGE_kmod-input-evdev=m
CONFIG_PACKAGE_kmod-leds-gpio=m
CONFIG_PACKAGE_kmod-lib-842=m
CONFIG_PACKAGE_kmod-lib-crc-itu-t=m
CONFIG_PACKAGE_kmod-lib-crc16=m
CONFIG_PACKAGE_kmod-lib-crc7=m
CONFIG_PACKAGE_kmod-mmc=m
CONFIG_PACKAGE_kmod-mt76=m
CONFIG_PACKAGE_kmod-mt76-connac=m
CONFIG_PACKAGE_kmod-mt76-core=m
CONFIG_PACKAGE_kmod-mt7603=m
CONFIG_PACKAGE_kmod-mt76x02-common=m
CONFIG_PACKAGE_kmod-mt76x2=m
CONFIG_PACKAGE_kmod-mt76x2-common=m
CONFIG_PACKAGE_kmod-mt7921-common=m
CONFIG_PACKAGE_kmod-mt7921-firmware=m
CONFIG_PACKAGE_kmod-mt7921e=m
CONFIG_PACKAGE_kmod-mt792x-common=m
CONFIG_PACKAGE_kmod-mux-core=m
CONFIG_PACKAGE_kmod-mux-gpio=m
CONFIG_PACKAGE_kmod-nls-base=m
CONFIG_PACKAGE_kmod-r8125=m
CONFIG_PACKAGE_kmod-r8125-rss=m
CONFIG_PACKAGE_kmod-regmap-core=m
CONFIG_PACKAGE_kmod-usb-core=m
CONFIG_PACKAGE_kmod-usb-gadget=m
CONFIG_PACKAGE_kmod-usb-gadget-ehci-debug=m
CONFIG_PACKAGE_kmod-usb-gadget-mass-storage=m
CONFIG_PACKAGE_kmod-usb-gadget-serial=m
CONFIG_PACKAGE_kmod-usb-hid=m
CONFIG_PACKAGE_kmod-usb-lib-composite=m
CONFIG_PACKAGE_libestr=m
CONFIG_PACKAGE_libfastjson=m
CONFIG_PACKAGE_mt7921bt-firmware=m
CONFIG_PACKAGE_rsyslog=m
CONFIG_PACKAGE_ucode-mod-uloop=y
CONFIG_PACKAGE_wireless-tools=y
CONFIG_PACKAGE_wpa-cli=m
CONFIG_PACKAGE_wpa-supplicant=y
CONFIG_PACKAGE_wpad=m
CONFIG_PACKAGE_iw=y
CONFIG_PACKAGE_iwinfo=y
CONFIG_PACKAGE_kmod-cfg80211=y
CONFIG_PACKAGE_kmod-crypto-aead=y
CONFIG_PACKAGE_kmod-crypto-ccm=y
CONFIG_PACKAGE_kmod-crypto-cmac=y
CONFIG_PACKAGE_kmod-crypto-ctr=y
CONFIG_PACKAGE_kmod-crypto-gcm=y
CONFIG_PACKAGE_kmod-crypto-geniv=y
CONFIG_PACKAGE_kmod-crypto-gf128=y
CONFIG_PACKAGE_kmod-crypto-ghash=y
CONFIG_PACKAGE_kmod-crypto-hmac=y
CONFIG_PACKAGE_kmod-crypto-manager=y
CONFIG_PACKAGE_kmod-crypto-null=y
CONFIG_PACKAGE_kmod-crypto-rng=y
CONFIG_PACKAGE_kmod-crypto-seqiv=y
CONFIG_PACKAGE_kmod-crypto-sha3=y
CONFIG_PACKAGE_kmod-crypto-sha512=y
CONFIG_PACKAGE_kmod-hwmon-core=y
CONFIG_PACKAGE_kmod-libphy=y
CONFIG_PACKAGE_kmod-mac80211=y
CONFIG_PACKAGE_libiwinfo=y
CONFIG_PACKAGE_libiwinfo-data=y
CONFIG_PACKAGE_ucode-mod-digest=y
CONFIG_PACKAGE_wifi-scripts=y
CONFIG_PACKAGE_wireless-regdb=y
