CONFIG_TARGET_rockchip=y
CONFIG_TARGET_rockchip_armv8=y
CONFIG_TARGET_rockchip_armv8_DEVICE_seeed_linkstar-h68k-1432v1=y
CONFIG_PACKAGE_hostapd=m
CONFIG_PACKAGE_kmod-bluetooth=m
CONFIG_PACKAGE_kmod-crypto-ecb=m
CONFIG_PACKAGE_kmod-crypto-ecdh=m
CONFIG_PACKAGE_kmod-crypto-kpp=m
CONFIG_PACKAGE_kmod-fs-configfs=m
CONFIG_PACKAGE_kmod-hid=m
CONFIG_PACKAGE_kmod-hid-generic=m
CONFIG_PACKAGE_kmod-input-core=m
CONFIG_PACKAGE_kmod-input-evdev=m
CONFIG_PACKAGE_kmod-lib-crc-itu-t=m
CONFIG_PACKAGE_kmod-lib-crc16=m
CONFIG_PACKAGE_kmod-lib-crc7=m
CONFIG_PACKAGE_kmod-libphy=y
CONFIG_PACKAGE_kmod-mmc=m
CONFIG_PACKAGE_kmod-mmc-spi=m
CONFIG_PACKAGE_kmod-nls-base=m
CONFIG_PACKAGE_kmod-r8125=y
CONFIG_PACKAGE_kmod-regmap-core=m
CONFIG_PACKAGE_kmod-usb-core=m
CONFIG_PACKAGE_kmod-usb-gadget=m
CONFIG_PACKAGE_kmod-usb-gadget-ehci-debug=m
CONFIG_PACKAGE_kmod-usb-gadget-mass-storage=m
CONFIG_PACKAGE_kmod-usb-gadget-serial=m
CONFIG_PACKAGE_kmod-usb-hid=m
CONFIG_PACKAGE_kmod-usb-lib-composite=m
CONFIG_PACKAGE_libestr=m
CONFIG_PACKAGE_libfastjson=m
CONFIG_PACKAGE_mt7921bt-firmware=m
CONFIG_PACKAGE_rsyslog=m
CONFIG_PACKAGE_ucode-mod-uloop=m
CONFIG_PACKAGE_wireless-tools=y
CONFIG_PACKAGE_wpad=m
