config global automount
	option from_fstab 1
	option anon_mount 1
	
config global autoswap
	option from_fstab 1
	option anon_swap 0
	
config mount
	option target	/home
	option device	/dev/sda1
	option fstype	ext4
	option options	rw,sync
	option enabled	0
	option enabled_fsck 0

config swap
	option device	/dev/sda2
	option enabled	0

