Package: chillispot
Priority: optional
Section: net
Version: TBDL
Architecture: TBDL
Maintainer: Nico <nthill@free.fr>
Source: http://openwrt.org/cgi-bin/viewcvs.cgi/buildroot/
Description: a wireless access point controller
Depends: tun-module
