Package: dropbear
Version: 0.44-1
Architecture: mipsel
Maintainer: Leigh Dyer <lsd@linuxgamers.net>
Source: http://matt.ucc.asn.au/dropbear/dropbear-0.44.tar.bz2
Section: net
Priority: optional
Depends:
Description: Lightweight SSH client and server system
