config server default
	option master	wan6
	list network	lan
	option rd	server
	option dhcpv6	server
	option fallback_relay	'rd dhcpv6 ndp'
	option management_level 1


# Example #1: Create a relay for several networks in proxy mode
# This can be used to proxy Router Discovery, DHCPv6 and NDP.

#config server examplerelay
#	option master	'wan'
#	option network	'lan'
#	option rd	'relay'
#	option dhcpv6	'relay'
#	option ndp	'relay'


# Example #2: Provide Router Discovery and stateless DHCPv6 in server mode
# This can be used as a small radvd and stateless DHCPv6-server replacement.

#config server exampleserver
#	option network	'lan'
#	option rd	'server'
#	option dhcpv6	'server'

