# Example #1: Create a relay for several networks in proxy mode
# This can be used to proxy Router Discovery, DHCPv6 and NDP.

#config relay
#	option network	'wan lan'
#	option rd	'relay'
#	option dhcpv6	'relay'
#	option ndp	'relay'


# Example #2: Provide Router Discovery and stateless DHCPv6 in server mode
# This can be used as a small radvd and stateless DHCPv6-server replacement.

#config server
#	option network	'lan'
#	option rd	'server'
#	option dhcpv6	'server'
