Package: libmatrixssl
Priority: optional
Section: libs
Version: TBDL
Architecture: TBDL
Maintainer: Nico
Source: http://openwrt.org/cgi-bin/viewcvs.cgi/buildroot/
Description: an embedded SSL implementation
Depends: libpthread
