Package: tun-module
Priority: optional
Section: kernel
Version: TBDL
Architecture: TBDL
Maintainer: Nico <nthill@free.fr>
Source: http://openwrt.org/cgi-bin/viewcvs.cgi/buildroot/
Description: the Universal TUN/TAP device driver
