Package: kmod-tun
Priority: optional
Section: kernel
Version: 2.4.20-1
Architecture: mipsel
Maintainer: Nico <nthill@free.fr>
Source: http://openwrt.org/cgi-bin/viewcvs.cgi/buildroot/
Description: Universal TUN/TAP device driver kernel module
