Package: kmod-sched
Priority: optional
Section: kernel
Version: 2.4.20-1
Architecture: mipsel
Maintainer: Nico <nthill@free.fr>
Source: http://openwrt.org/cgi-bin/viewcvs.cgi/buildroot/
Description: Traffic Control (TC) kernel modules
