#
# For a description of the syntax of this configuration file,
# see Linux Documentation
#
#

config UBOOT_CONFIG_DRIVER_DANUBE
      bool
      default y

config UBOOT_CONFIG_BOARD_NAME
    string
	default "EASY50712"
	depends on UBOOT_CONFIG_IFX_IMAGE_EXTRA_CHECKS

config UBOOT_CONFIG_BOARD_VERSION
    string
    default "1.26"
    depends on UBOOT_CONFIG_IFX_IMAGE_EXTRA_CHECKS

config UBOOT_CONFIG_CHIP_NAME
    string
    default "DANUBE"
    depends on UBOOT_CONFIG_IFX_IMAGE_EXTRA_CHECKS

config UBOOT_CONFIG_CHIP_VERSION
    string
    default "1.2"
    depends on UBOOT_CONFIG_IFX_IMAGE_EXTRA_CHECKS

choice
    prompt 'RAM BRAND'
	    default UBOOT_CONFIG_DANUBE_ETRON_RAM

    config UBOOT_CONFIG_DANUBE_QIMONDA_RAM
	    bool "QIMONDA"

	config UBOOT_CONFIG_DANUBE_ETRON_RAM
	    bool "ETRON"

	config UBOOT_CONFIG_DANUBE_PROMOS_RAM
	    bool "PROMOS"

	config UBOOT_CONFIG_DANUBE_PSC_RAM	
	    bool "PSC"

    config UBOOT_CONFIG_DANUBE_SAMSUNG_RAM
	    bool "SAMSUNG"

endchoice
					


config UBOOT_CONFIG_TUNE_DDR
    bool "DDR tuning support"
	default y

config UBOOT_CONFIG_DDR_TUNING_TEXT_BASE
    hex 
        default "0x9e1a0000"
    depends on UBOOT_CONFIG_TUNE_DDR



