Package: openssl
Priority: optional
Version: 0.9.7d-1
Architecture: mipsel
Maintainer: below0
Section: libs
Source: Embedded in the main OpenWrt buildroot
Description: OpenSSL libraries used for SSL encryption.

