Package: ppp-radius-plugin
Priority: optional
Section: net
Version: TBDL
Architecture: TBDL
Maintainer: Nico
Source: http://openwrt.org/cgi-bin/viewcvs.cgi/buildroot/
Description: a RADIUS plugin for the PPP daemon
Depends: ppp
