
DEVICENAME ~~ (null|full|ptmx|tty|zero|gpio|hvc) {
	nothrottle
	makedev /dev/%DEVICENAME% 0666
	next
}

DEVICENAME ~~ (tun|tap[0-9]) {
	nothrottle
	makedev /dev/net/%DEVICENAME% 0644
	next
}

DEVICENAME ~~ (ppp) {
	nothrottle
	makedev /dev/%DEVICENAME% 0600
	next
}

DEVICENAME ~~ (controlC[0-9]|pcmC0D0*|timer) {
	nothrottle
	makedev /dev/snd/%DEVICENAME% 0644
	next
}

DEVICENAME ~~ (lp[0-9]) {
	nothrottle
	makedev /dev/%DEVICENAME% 0644
	next
}

DEVPATH is set, SUBSYSTEM ~~ (input) {
	nothrottle
	makedev /dev/input/%DEVICENAME% 0644
}

DEVICENAME == device-mapper {
       nothrottle
       makedev /dev/mapper/control 0600
}


DEVPATH is set {
	nothrottle
	makedev /dev/%DEVICENAME% 0644
}

FIRMWARE is set {
	nothrottle
	exec /sbin/hotplug-call firmware
	next
}
