<style type="text/css">
	textarea
	{
		width: 100% !important;
		height: 450px !important;
		border: 1px solid #cccccc;
		padding: 5px;
		font-size: 12px;
		font-family: monospace;
		resize: none;
		white-space: pre;
		overflow-wrap: normal;
		overflow-x: scroll;
	}

	select[readonly],
	textarea[readonly]
	{
		width: 100% !important;
		height: 450px !important;
		border: 1px solid #cccccc;
		padding: 5px;
		font-size: 12px;
		font-family: monospace;
		resize: none;
		pointer-events: auto;
		cursor: auto;
	}

	.table.cbi-section-table .th,
	.table.cbi-section-table .td,
	.cbi-section-table-cell,
	.cbi-section-table-row,
	.tr[data-title]::before
	{
		text-align: left !important;
		vertical-align: top;
		margin-left: 0px;
		padding-left: 2px;
	}

	.table.cbi-section-table .th
	{
		white-space: nowrap;
	}

	.cbi-section-table-row > .cbi-value-field .cbi-input-select,
	.table.cbi-section-table select
	{
		width: 70px;
	}

	.item,
	.add-item
	{
		white-space: nowrap;
		width: 8.2em;
	}

	.cbi-input-checkbox
	{
		height: 1em;
	}

	.cbi-button
	{
		-webkit-appearance: menulist;
	}

	.runtime
	{
		color: #37c;
		font-weight: bold;
		display: inline-block;
		width: 100%;
		padding-top: 0.5rem;
	}

	.qr-code
	{
		border-bottom: 0px;
		margin-bottom: 0px;
		padding: 0.25em 0.6em;
		text-align: left
	}

	.button_running
	{
		display: inline-block;
		width: 16px;
		height: 16px;
		margin: 0 5px;
	}
</style>
