# RULE SYNTAX:
#
# forward:<match>:<target>[:<port>]
# 	- forwards all packets matched by <match> to <target>,
# 	  optionally changing the port to <port>
#
# accept:<match>
# 	- accepts all traffic matched by <match>
#
# drop:<match>
#	- drops all traffic matched by <match>
#
#
# MATCHING OPTIONS:
#
# src=<ip>
# 	- match the source ip <ip>
#
# dest=<ip>
# 	- match the destination ip <ip>
#
# proto=<proto>
# 	- match the protocol by name or number
#
# sport=<port(s)>
# 	- match the source port(s), see below for syntax
#
# dport=<port(s)>
# 	- match the destination port(s), see below for syntax
#
#
#
# PORT SYNTAX:
#
# You can enter an arbitrary list of ports and port ranges in the following format:
#   - 22,53,993,1000-1024 
#
# If you don't set the protocol to tcp or udp, it will apply to both
#
#
#
# EXAMPLES:
#
# drop:dport=22 src=1.3.3.7
# accept:proto=tcp dport=22
# forward:dport=60168:192.168.1.2:60169
