#!/usr/bin/make -f

ifneq ($(strip ${IPKG_RULES_INC}),)
 include $(IPKG_RULES_INC)
endif

##

PKG_VERSION := $(shell cat ./ipkg/version)
CURRENT_DIR := $(shell pwd)
INSTALL_DIR ?= $(CURRENT_DIR)/ipkg-install

unexport INSTALL_DIR

I_DHCP_FORWARDER := ipkg/dhcp-forwarder

BUILD_DEPS := \

CONFIGURE_OPTS = \

##

all: package


.stamp-configured: $(BUILD_DEPS)

	rm -rf config.cache
	$(TARGET_CONFIGURE_OPTS) \
	CFLAGS="$(TARGET_CFLAGS) -I$(STAGING_DIR)/usr/include" \
	LDFLAGS="-L$(STAGING_DIR)/usr/lib" \
	ac_cv_func_malloc_0_nonnull="yes" \
	./configure \
	  --target=$(GNU_TARGET_NAME) \
	  --host=$(GNU_TARGET_NAME) \
	  --build=$(GNU_HOST_NAME) \
	  --program-prefix="" \
	  --program-suffix="" \
	  --prefix=/usr \
	  --exec-prefix=/usr \
	  --bindir=/usr/bin \
	  --datadir=/usr/share \
	  --includedir=/usr/include \
	  --infodir=/usr/share/info \
	  --libdir=/usr/lib \
	  --libexecdir=/usr/lib \
	  --localstatedir=/var \
	  --mandir=/usr/share/man \
	  --sbindir=/usr/sbin \
	  --sysconfdir=/etc \
	  $(DISABLE_LARGEFILE) \
	  $(DISABLE_NLS) \
	  $(CONFIGURE_OPTS) \

	touch .stamp-configured


.stamp-built: .stamp-configured

	$(MAKE) \
	  $(TARGET_CONFIGURE_OPTS) \
	  cfg_filename="/etc/dhcp-fwd.conf" \

	touch .stamp-built


$(INSTALL_DIR)/usr/sbin/dhcp-fwd: .stamp-built

	mkdir -p $(INSTALL_DIR)

	$(MAKE) \
	  DESTDIR="$(INSTALL_DIR)" \
	 install


configure: .stamp-configured


build: .stamp-built


install: $(INSTALL_DIR)/usr/sbin/dhcp-fwd


package: $(INSTALL_DIR)/usr/sbin/dhcp-fwd

	mkdir -p $(I_DHCP_FORWARDER)/etc
	cp -fpR contrib/dhcp-fwd.conf $(I_DHCP_FORWARDER)/etc/

	mkdir -p $(I_DHCP_FORWARDER)/usr/sbin
	cp -fpR $(INSTALL_DIR)/usr/sbin/dhcp-fwd $(I_DHCP_FORWARDER)/usr/sbin/
	$(STRIP) $(I_DHCP_FORWARDER)/usr/sbin/*

	chmod 0755 $(I_DHCP_FORWARDER)/etc/
	chmod 0600 $(I_DHCP_FORWARDER)/etc/dhcp-fwd.conf
	chmod 0755 $(I_DHCP_FORWARDER)/etc/init.d/
	chmod 0755 $(I_DHCP_FORWARDER)/etc/init.d/dhcp-fwd

	chmod 0755 ipkg/*/CONTROL/
	chmod 0644 ipkg/*/CONTROL/control
	-chmod 0644 ipkg/*/CONTROL/conffiles

	perl -pi -e "s/^Arch.*:.*/Architecture: $(ARCH)/g" ipkg/*/CONTROL/control
ifneq ($(strip $(PKG_VERSION)),)
	perl -pi -e "s/^Vers.*:.*/Version: $(PKG_VERSION)/g" ipkg/*/CONTROL/control
endif

	$(IPKG_BUILD) $(I_DHCP_FORWARDER) $(IPKG_TARGET_DIR)


clean:

	-$(MAKE) \
	  DESTDIR="$(INSTALL_DIR)" \
	 uninstall clean
	
	rm -rf .stamp-* \
	  $(I_DHCP_FORWARDER)/etc/dhcp-fwd.conf \
	  $(I_DHCP_FORWARDER)/usr \


control:

	@cat $(I_DHCP_FORWARDER)/CONTROL/control
	@echo
	

.PHONY: configure build install package clean control
