/*
  Name:       material
  Author:     Mattia Astorino (http://github.com/equinusocio)
  Website:    https://material-theme.site/
*/

.cm-s-material-log.CodeMirror {
  background-color: #263238;
  color: #EEFFFF;
}

.cm-s-material-log .CodeMirror-gutters {
  background: #263238;
  color: #546E7A;
  border: none;
}

.cm-s-material-log .CodeMirror-guttermarker,
.cm-s-material-log .CodeMirror-guttermarker-subtle,
.cm-s-material-log .CodeMirror-linenumber {
  color: #546E7A;
}

.cm-s-material-log .CodeMirror-cursor {
  border-left: 1px solid #FFCC00;
}
.cm-s-material-log.cm-fat-cursor .CodeMirror-cursor {
  background-color: #5d6d5c80 !important;
}
.cm-s-material-log .cm-animate-fat-cursor {
  background-color: #5d6d5c80 !important;
}

.cm-s-material-log div.CodeMirror-selected {
  background: rgba(128, 203, 196, 0.2);
}

.cm-s-material-log.CodeMirror-focused div.CodeMirror-selected {
  background: rgba(128, 203, 196, 0.2);
}

.cm-s-material-log .CodeMirror-line::selection,
.cm-s-material-log .CodeMirror-line>span::selection,
.cm-s-material-log .CodeMirror-line>span>span::selection {
  background: rgba(128, 203, 196, 0.2);
}

.cm-s-material-log .CodeMirror-line::-moz-selection,
.cm-s-material-log .CodeMirror-line>span::-moz-selection,
.cm-s-material-log .CodeMirror-line>span>span::-moz-selection {
  background: rgba(128, 203, 196, 0.2);
}

.cm-s-material-log .CodeMirror-activeline-background {
  background: rgba(0, 0, 0, 0.5);
}

.cm-s-material-log .cm-keyword {
  color: #C792EA;
}

.cm-s-material-log .cm-operator {
  color: #89DDFF;
}

.cm-s-material-log .cm-variable-2 {
  color: #EEFFFF;
}

.cm-s-material-log .cm-variable-3 {
  color: #EEFFFF;
}

.cm-s-material-log .cm-type {
  color: #f07178;
}

.cm-s-material-log .cm-builtin {
  color: #FFCB6B;
}

.cm-s-material-log .cm-atom {
  color: #F78C6C;
}

.cm-s-material-log .cm-number {
  color: #FF5370;
}

.cm-s-material-log .cm-def {
  color: #82AAFF;
}

.cm-s-material-log .cm-string {
  color: #C3E88D;
}

.cm-s-material-log .cm-string-2 {
  color: #C3E88D;
}

.cm-s-material-log .cm-comment {
  color: #546E7A;
}

.cm-s-material-log .cm-variable {
  color: #EEFFFF;
}

.cm-s-material-log .cm-tag {
  color: #FF5370;
}

.cm-s-material-log .cm-tip {
  color: #ff6f00;
}

.cm-s-material-log .cm-watchdog {
  color: #b300ff;
}

.cm-s-material-log .cm-warn {
  line-height: 1em;
  font-weight: bold;
  color: #ff00bb;
}

.cm-s-material-log .cm-meta {
  color: #FFCB6B;
}

.cm-s-material-log .cm-attribute {
  color: #C792EA;
}

.cm-s-material-log .cm-property {
  color: #C792EA;
}

.cm-s-material-log .cm-qualifier {
  color: #DECB6B;
}

.cm-s-material-log .cm-error {
  line-height: 1em;
  font-weight: bold;
  color: #FF0000;
}

.cm-s-material-log .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white !important;
}
