CONFIG_TARGET_rockchip=y
CONFIG_TARGET_rockchip_armv8=y
CONFIG_TARGET_rockchip_armv8_DEVICE_seeed_linkstar-h68k-1432v1=y
CONFIG_ALL_KMODS=y
CONFIG_GNUTLS_ALPN=y
CONFIG_GNUTLS_ANON=y
CONFIG_GNUTLS_DTLS_SRTP=y
CONFIG_GNUTLS_HEARTBEAT=y
CONFIG_GNUTLS_OCSP=y
CONFIG_GNUTLS_PSK=y
CONFIG_OPENSSL_ENGINE=y
CONFIG_OPENSSL_WITH_ASM=y
CONFIG_OPENSSL_WITH_CHACHA_POLY1305=y
CONFIG_OPENSSL_WITH_CMS=y
CONFIG_OPENSSL_WITH_DEPRECATED=y
CONFIG_OPENSSL_WITH_ERROR_MESSAGES=y
CONFIG_OPENSSL_WITH_IDEA=y
CONFIG_OPENSSL_WITH_MDC2=y
CONFIG_OPENSSL_WITH_PSK=y
CONFIG_OPENSSL_WITH_SEED=y
CONFIG_OPENSSL_WITH_SRP=y
CONFIG_OPENSSL_WITH_TLS13=y
CONFIG_OPENSSL_WITH_WHIRLPOOL=y
CONFIG_PACKAGE_RTLWIFI_DEBUG=y
CONFIG_PACKAGE_baresip=m
CONFIG_PACKAGE_btop=m
CONFIG_PACKAGE_cgi-io=m
CONFIG_PACKAGE_chrony=m
CONFIG_PACKAGE_chrony-nts=m
CONFIG_PACKAGE_hostapd=m
CONFIG_PACKAGE_hostapd-utils=m
CONFIG_PACKAGE_htpdate=m
CONFIG_PACKAGE_kmod-libphy=m
CONFIG_PACKAGE_kmod-r8125=m
CONFIG_PACKAGE_libatomic=m
CONFIG_PACKAGE_libcap=m
CONFIG_PACKAGE_libestr=m
CONFIG_PACKAGE_libevent2-core=m
CONFIG_PACKAGE_libevent2-pthreads=m
CONFIG_PACKAGE_libfastjson=m
CONFIG_PACKAGE_libgmp=m
CONFIG_PACKAGE_libgnutls=m
CONFIG_PACKAGE_liblua=m
CONFIG_PACKAGE_liblucihttp=m
CONFIG_PACKAGE_liblucihttp-lua=m
CONFIG_PACKAGE_liblucihttp-ucode=m
CONFIG_PACKAGE_libnettle=m
CONFIG_PACKAGE_libopenssl=m
CONFIG_PACKAGE_libopenssl-conf=m
CONFIG_PACKAGE_libopenssl-legacy=m
CONFIG_PACKAGE_libpcre2=m
CONFIG_PACKAGE_libre=m
CONFIG_PACKAGE_libstdcpp=m
CONFIG_PACKAGE_libwolfssl=m
CONFIG_PACKAGE_linuxptp=m
CONFIG_PACKAGE_lua=m
CONFIG_PACKAGE_luci=m
CONFIG_PACKAGE_luci-app-firewall=m
CONFIG_PACKAGE_luci-app-package-manager=m
CONFIG_PACKAGE_luci-base=m
CONFIG_PACKAGE_luci-lib-base=m
CONFIG_PACKAGE_luci-lib-ip=m
CONFIG_PACKAGE_luci-lib-jsonc=m
CONFIG_PACKAGE_luci-lib-nixio=m
CONFIG_PACKAGE_luci-light=m
CONFIG_PACKAGE_luci-mod-admin-full=m
CONFIG_PACKAGE_luci-mod-network=m
CONFIG_PACKAGE_luci-mod-status=m
CONFIG_PACKAGE_luci-mod-system=m
CONFIG_PACKAGE_luci-proto-ipv6=m
CONFIG_PACKAGE_luci-proto-ppp=m
CONFIG_PACKAGE_luci-theme-bootstrap=m
CONFIG_PACKAGE_mt7921bt-firmware=m
CONFIG_PACKAGE_ntp-keygen=m
CONFIG_PACKAGE_ntp-utils=m
CONFIG_PACKAGE_ntpd=m
CONFIG_PACKAGE_ntpdate=m
CONFIG_PACKAGE_openssh-client=m
CONFIG_PACKAGE_openssh-client-utils=m
CONFIG_PACKAGE_openssh-keygen=m
CONFIG_PACKAGE_openssh-server=m
CONFIG_PACKAGE_openssh-sftp-client=m
CONFIG_PACKAGE_openssh-sftp-server=m
CONFIG_PACKAGE_phytool=m
CONFIG_PACKAGE_rpcd=m
CONFIG_PACKAGE_rpcd-mod-file=m
CONFIG_PACKAGE_rpcd-mod-iwinfo=m
CONFIG_PACKAGE_rpcd-mod-luci=m
CONFIG_PACKAGE_rpcd-mod-rrdns=m
CONFIG_PACKAGE_rpcd-mod-ucode=m
CONFIG_PACKAGE_rsyslog=m
CONFIG_PACKAGE_rtl8188eu-firmware=m
CONFIG_PACKAGE_rtl8188fu-firmware=m
CONFIG_PACKAGE_ucode-mod-html=m
CONFIG_PACKAGE_ucode-mod-math=m
CONFIG_PACKAGE_ucode-mod-uloop=m
CONFIG_PACKAGE_uhttpd=m
CONFIG_PACKAGE_uhttpd-mod-ubus=m
CONFIG_PACKAGE_vsftpd=m
CONFIG_PACKAGE_vsftpd-tls=m
CONFIG_PACKAGE_wget-nossl=m
CONFIG_PACKAGE_wget-ssl=m
CONFIG_PACKAGE_wpa-cli=m
CONFIG_PACKAGE_wpa-supplicant=m
CONFIG_PACKAGE_wpa-supplicant-basic=m
CONFIG_PACKAGE_wpa-supplicant-mbedtls=m
CONFIG_PACKAGE_wpa-supplicant-mesh-mbedtls=m
CONFIG_PACKAGE_wpa-supplicant-mesh-openssl=m
CONFIG_PACKAGE_wpa-supplicant-mesh-wolfssl=m
CONFIG_PACKAGE_wpa-supplicant-mini=m
CONFIG_PACKAGE_wpa-supplicant-openssl=m
CONFIG_PACKAGE_wpad=m
CONFIG_WOLFSSL_HAS_NO_HW=y
