#!/usr/bin/make -f

ifeq ($(strip ${IPKG_DIR}),)
	IPKG_DIR := $(shell pwd)/../..
endif

include $(IPKG_DIR)/Makefile.inc

##

EZ_IPUPDATE_DIR := ipkg/ez-ipupdate

BUILD_DEPS := \

##

all: package

build: .stamp-built

install: .stamp-installed

clean:

	$(MAKE) clean
	rm -rf .stamp-*
	rm -rf $(EZ_IPUPDATE_DIR)/etc/ez-ipupdate
	rm -rf $(EZ_IPUPDATE_DIR)/usr


control:

	@cat $(EZ_IPUPDATE_DIR)/CONTROL/control
	@echo
	

binary package: .stamp-installed

	@cat $(EZ_IPUPDATE_DIR)/CONTROL/control
	$(IPKG_BUILD) $(EZ_IPUPDATE_DIR) $(IPKG_TARGET_DIR)


.stamp-built: $(BUILD_DEPS)

	rm -rf config.cache
	$(TARGET_CONFIGURE_OPTS) \
	CFLAGS="$(TARGET_CFLAGS)" \
	./configure \
	  --target=$(GNU_TARGET_NAME) \
	  --host=$(GNU_TARGET_NAME) \
	  --build=$(GNU_HOST_NAME) \
	  --prefix=/usr \
	  --exec-prefix=/usr \
	  --bindir=/usr/bin \
	  --datadir=/usr/share \
	  --includedir=/usr/include \
	  --infodir=/usr/share/info \
	  --libdir=/usr/lib \
	  --libexecdir=/usr/lib/locate \
	  --localstatedir=/var/lib \
	  --mandir=/usr/share/man \
	  --sbindir=/usr/sbin \
	  --sysconfdir=/etc \
	  $(DISABLE_NLS) \

	$(MAKE) \
	  $(TARGET_CONFIGURE_OPTS) \

	touch .stamp-built


.stamp-installed: .stamp-built

	mkdir -p $(EZ_IPUPDATE_DIR)

	$(MAKE) \
	  DESTDIR="$(shell pwd)/$(EZ_IPUPDATE_DIR)" \
	 install
	 
	mkdir -p $(EZ_IPUPDATE_DIR)/etc/ez-ipupdate
	cp -a example-dyndns.conf $(EZ_IPUPDATE_DIR)/etc/ez-ipupdate/
	
	$(STRIP) $(EZ_IPUPDATE_DIR)/usr/bin/*

	chmod 0755 $(EZ_IPUPDATE_DIR)/CONTROL
	chmod 0644 $(EZ_IPUPDATE_DIR)/CONTROL/control
	chmod 0755 $(EZ_IPUPDATE_DIR)/etc
	chmod 0700 $(EZ_IPUPDATE_DIR)/etc/ez-ipupdate
	chmod 0600 $(EZ_IPUPDATE_DIR)/etc/ez-ipupdate/*
	chmod 0755 $(EZ_IPUPDATE_DIR)/usr
	chmod 0755 $(EZ_IPUPDATE_DIR)/usr/bin
	chmod 0755 $(EZ_IPUPDATE_DIR)/usr/bin/ez-ipupdate

	touch .stamp-installed


.PHONY: build install clean control binary package 
