Package: libpcre-dev
Priority: optional
Section: devel
Version: [TBDL]
Architecture: [TBDL]
Maintainer: Nico <nthill@free.fr>
Source: http://nthill.free.fr/openwrt/sources/pcre/
Description: a Perl Compatible Regular Expression library (development)
