$include /etc/hotplug2-common.rules

SUBSYSTEM ~~ (net|button|usb) {
	exec /sbin/hotplug-call %SUBSYSTEM%;
}

DEVICENAME ~~ (watchdog) {
	exec /sbin/watchdog -t 5 /dev/watchdog;
	next
}
