Package: haserl
Priority: optional
Section: web
Version: [TBDL]
Architecture: [TBDL]
Maintainer: Nico <nthill@free.fr>
Source: http://nthill.free.fr/openwrt/sources/haserl/
Description: a CGI wrapper to embed shell scripts in HTML documents
