name: 'Pull Request Labeler'
on:
  - pull_request_target

jobs:
  labeler:
    name: Pull Request Labeler
    runs-on: ubuntu-latest
    steps:
      - uses: actions/labeler@v4.0.1
        with:
          repo-token: '${{ secrets.GITHUB_TOKEN }}'
